@use '../sass/responsive' as responsive
@use '../sass/color' as color

*
    margin: 0px
body
    background-color: color.$lightGrey
nav
    color: color.$darkGrey
    width: 100vw
    display: flex
    flex-direction: column
    position: relative
    background-color: color.$lightGrey
    header
        padding: 10px
        display: flex
        flex-direction: row
        i
            align-content: center
            height: 30px
            width: 30px
            color: color.$darkGrey
            font-size: 18px
            transform: translateX(20px)
        .logo
            height: 30px
            display: flex
            margin: auto
            justify-content: center
    .cover-restaurant
        width: 100vw
        height: 30vh
        object-fit: cover

main
    display: flex
    flex-direction: column
    background-color: color.$lightGrey
    border-top-right-radius: 25px
    border-top-left-radius: 25px
    transform: translateY(-40px)
    .title
        display: flex
        flex-direction: row
        padding: 20px 0px 20px 0px
        align-items: center
        justify-content: space-between
        h1
            font-family: 'Shrikhand', 'Times New Roman', Times, serif
            font-weight: 400
            font-style: italic
            font-size: 28px
            color: color.$black
        img
            height: 22px
            width: 22px
main
    padding: 5px 20px 0px 20px
    .class-menu
        h2
            @include color.h2-carte
            padding: 20px 0px 0px 0px
        .souligne
            @include color.soulignage
            margin-bottom: 10px
        .plat
            display: flex
            flex-direction: row
            background-color: #fff
            border-radius: 20px
            overflow: hidden
            box-shadow: color.$veryLightShadow
            align-items: flex-end
            margin: 10px 0px
            .space-between
                display: flex
                flex-direction: row
                align-items: flex-end
                justify-content: space-between
                width: 100%
                .desc
                    display: flex
                    flex-direction: column
                    h3
                        margin: 0
                        padding: 10px 0px 10px 10px
                        font-family: 'roboto', sans-serif
                        font-weight: 500
                        font-size: 18px
                    p
                        margin: 0
                        padding: 10px 0px 10px 10px
                        font-family: 'roboto', sans-serif
                        font-weight: 300
                        font-size: 15px
                .prix
                    h3
                        margin: 0
                        padding: 0px 10px 10px 0px
                        font-family: 'roboto', sans-serif
                        font-weight: 700
                        font-size: 15px

            .like
                display: flex
                position: relative
                align-items: center
                color: #fff
                background-color: color.$lightGreen
                width: 15%
                justify-content: center
                align-self: stretch
.div-commande
    display: flex
    padding: 20px 0px
    transform: translateY(20px)
    .button-gradiant
        @include color.gradiant
        box-shadow: color.$shadow
        &:hover
            cursor: pointer
footer
    background-color: color.$darkGrey
    @include color.section
    color: #fff
    padding-top: 16px
    h2
        font-family: 'Shrikhand', 'Times New Roman', Times, serif
        padding-top: 16px
    section
        display: flex
        flex-direction: column
        gap: 7px
        a
            display: flex
            gap: 15px
            align-items: center
            align-content: center
            i
                width: 18px
            p
                font-weight: 500
                font-family: 'Roboto', sans-serif

        

