@use '../sass/responsive' as responsive
@use '../sass/color' as color

*
    margin: 0
body
    transform: translateY(100vh)
    background-color: #FFF
    transition: transform 0.3s ease
    opacity: 1

.loaded
    transform: translateY(0vh)

.return
    transform: translateY(100vh)

nav
    color: color.$darkGrey
    width: 100vw
    display: flex
    flex-direction: column
    position: relative
    background-color: color.$lightGrey
    header
        padding: 10px
        display: flex
        flex-direction: row
        align-items: center
        i
            align-content: center
            height: 30px
            width: 30px
            color: color.$darkGrey
            font-size: 18px
            transform: translateX(20px)
        .logo
            height: 30px
            display: flex
            padding: 10px
            margin: auto
            justify-content: center
    .cover-restaurant
        position: relative
        width: 100vw
        height: 40vh
        object-fit: cover
        margin: 0 0 -40px 0

main
    display: flex
    flex-direction: column
    background-color: color.$lightGrey
    border-top-right-radius: 25px
    border-top-left-radius: 25px
    position: relative
    @media screen and (min-width: 1000px)
        width: 90%
        max-width: 1080px
        margin: auto
    .conteneur-menu
        padding: 10px 20px
        @media screen and (min-width: 1000px)
            width: 70%
            margin: auto
        .title
            display: flex
            flex-direction: row
            padding: 20px 0 20px 0
            align-items: center
            justify-content: space-between
            @media screen and (min-width: 1000px)
                justify-content: center
            h1
                font-family: 'Shrikhand', 'Times New Roman', Times, serif
                font-weight: 400
                font-style: italic
                font-size: 28px
                color: color.$black
                @media screen and (min-width: 1000px)
                    padding-right: 10px
            .coeur
                width: 24px
                height: 24px
                display: flex
            .coeur path
                fill: white
                stroke: black
                stroke-width: 1px
                transition: fill .2s ease
            .coeur:hover path
                fill: url(#likeGradientHover)
                stroke-width: 0
    .class-menu
        h2
            @include color.h2-carte
            padding: 20px 0 0 0
        .souligne
            @include color.soulignage
            margin-bottom: 10px
        .plat
            display: flex
            flex-direction: row
            background-color: #fff
            border-radius: 20px
            overflow: hidden
            box-shadow: color.$veryLightShadow
            align-items: flex-end
            margin: 10px 0
            .space-between
                display: flex
                flex-direction: row
                align-items: flex-end
                justify-content: space-between
                width: 100%
                min-width: 85%
                .desc
                    display: flex
                    flex-direction: column
                    text-overflow: ellipsis
                    overflow: hidden
                    white-space: nowrap
                    &:hover
                        padding-right: 20px
                    h3
                        margin: 0
                        padding: 10px 0 3px 10px
                        font-family: 'roboto', sans-serif
                        font-weight: 500
                        font-size: 18px
                        text-overflow: ellipsis
                        overflow: hidden
                        white-space: nowrap
                    p
                        margin: 0
                        padding: 3px 0 10px 10px
                        font-family: 'roboto', sans-serif
                        font-weight: 300
                        font-size: 15px
                        text-overflow: ellipsis
                        overflow: hidden

                .prix
                    h3
                        margin: 0
                        padding: 0 10px 10px 0
                        font-family: 'roboto', sans-serif
                        font-weight: 700
                        font-size: 15px
                        white-space: nowrap
            .like
                display: flex
                position: relative
                align-items: center
                color: #fff
                background-color: color.$lightGreen
                width: 0
                justify-content: center
                align-self: stretch
                overflow: hidden
                transition: width 0.4s ease-in-out

.div-commande
    display: flex
    padding: 0 0 40px 0
    transform: translateY(20px)
    .button-gradiant
        @include color.gradiant
        box-shadow: color.$shadow
        &:hover
            cursor: pointer
footer
    background-color: color.$darkGrey
    @include color.section
    color: #fff
    padding-top: 16px
    @media screen and (min-width: 1000px)
        display: flex
        flex-direction: row-reverse
        padding-top: 40px
        padding-bottom: 30px
    h2
        font-family: 'Shrikhand', 'Times New Roman', Times, serif
        padding-top: 16px
        @media screen and (min-width: 1000px)
            padding-top: 0
            padding-left: 20px
    section
        display: flex
        flex-direction: column
        gap: 7px
        @media screen and (min-width: 1000px)
            flex-direction: row
            gap: 40px
        .groupe-lien
            display: flex
            flex-direction: column
            gap: 7px
            @media screen and (min-width: 1000px)
                flex-direction: row
            a
                display: flex
                align-items: center
                align-content: center
                gap: 5px
                @media screen and (min-width: 1000px)
                    gap: 0
                i
                    width: 18px
                    padding-right: 3px
                    @media screen and (min-width: 1000px)
                        padding-left: 10px
                p
                    font-weight: 500
                    font-size: 16px
                    font-family: 'Roboto', sans-serif
                    @media screen and (min-width: 1000px)
                        padding-left: 5px


@keyframes slide-out
    0%
        transform: translateY(0)
        opacity: 1
    30%
        transform: translateY(10vh)
        opacity: 0.5
    70%
        transform: translateY(50vh)
        opacity: 0.2
    100%
        transform: translateY(100vh)
        opacity: 0


@keyframes like-anim
    0%
        width: 0
        max-width: 65px
    100%
        width: 15%
        max-width: 65px

@keyframes like-retour
    0%
        width: 15%
        max-width: 65px
    100%
        width: 0%

.slide
    animation: slide-out .3s linear both

.slide-in
    animation: slide-up 3s linear both

.liked
    animation: like-anim .2s linear both

.like-retour
    animation: like-retour .2s linear both