@use '../sass/responsive' as responsive;
@use '../sass/color' as color;

header
    nav
        color: color.$darkGrey
        display: flex
        width: 100vw
        i
            height: 30px
            width: 30px
        img
            height: 44px
            width: 162px
    img
        height: 275px
        object-fit: contain

