@use '../sass/responsive.sass' as responsive;
@use '../sass/color.sass' as color;

*
    margin: 0px
    font-family: 'Roboto', sans-serif

header
    background-color: color.$white
    display: flex
    flex-direction: column
    img
        display: block
        height: 36px
        margin: auto
        padding: 14px 0px
    .location
        display: inline-flex
        background-color: color.$mediumGrey
        width: 100%
        gap: 17px
        font-size: 16px
        align-items: center
        justify-content: center
        color: '$darkGrey'
        height: 50px
    
        