@use '../sass/responsive' as responsive
@use '../sass/color' as color

*
    margin: 0px
    font-family: 'Roboto', sans-serif

header
    display: flex
    flex-direction: column
    .logo
        display: flex
        position: relative
        box-shadow: color.$lightShadow
        img
            display: block
            align-content: center
            height: 36px
            margin: auto
            padding: 14px 0px  
    .location
        display: inline-flex
        background-color: color.$mediumGrey
        width: 100%
        gap: 17px
        font-size: 16px
        align-items: center
        justify-content: center
        color: color.$darkGrey
        height: 50px
        box-shadow: color.$shadow
    
.reservation
    padding: 50px 20px
    text-align: center
    display: flex
    flex-direction: column
    background-color: color.$white
    gap: 20px
    h1
        font-weight: 700
        font-size: 24px
        padding: 0px 30px
    p
        color: color.$darkGrey
        font-weight: 300
        font-size: 18px
    .button-gradiant
        @include color.gradiant
        box-shadow: color.$shadow
        &:hover
            cursor: pointer

.fonctionnement 
    @include color.section
    h2
        @include color.h2-conf
    .containeur-fonctionnement
        display: flex
        flex-direction: column
        gap: 20px
        @media screen and (min-width: 1000px)
            display: flex
            flex-direction: row

        .choix
            display: flex
            flex-direction: row
            gap: 30px
            border-radius: 20px
            margin-left: 12px
            box-shadow: color.$lightShadow
            justify-content: flex-start
            background-color: color.$lightGrey
            align-items: center
            padding: 30px 40px
            @media screen and (min-width: 1000px)
                width: calc(33% - 20px)
                max-width: 400px
            p
                color: white
                background-color: color.$purple
                text-align: center
                font-size: 16px
                font-weight: 500
                width: 16px
                height: 16px
                padding: 4px
                border-radius: 50%
                position: absolute
                left: 20px
                @media screen and (min-width: 1000px)
            i
                color: color.$iconGrey
                font-size: 16px
                @media screen and (min-width: 1000px)
                    //transform: translateX(-50px)
            #purple
                color: color.$purple
            h3
                @include color.h3-conf
                @media screen and (min-width: 1000px)
                    //transform: translateX(-50px)

.liste-restaurant
    @include color.section
    background-color: color.$lightGrey
    h2
        @include color.h2-conf
    .container-liste-restaurant
        display: flex
        flex-direction: column
        width: 100%
        @media screen and (min-width: 1000px)
            display: grid
            grid-template-columns: repeat(2, 1fr)
            grid-template-rows: repeat(2, 1fr)
            gap: 20px 50px
            max-width: 1080px
            margin: auto
        .restaurant
            height: 250px
            background-color: #fff
            box-shadow: color.$veryLightShadow
            border-radius: 15px
            position: relative
            text-decoration: none
            color: #000
            img
                height: 70%
                width: 100%
                object-fit: cover
                overflow: auto
                border-radius: 15px 15px 0px 0px
            .nouveau
                display: inline-flex
                position: absolute
                top: 15px
                right: 15px
                background-color: color.$lightGreen
                color: color.$green
                padding: 5px 10px
            .banniere-sous-restaurant
                display: flex
                flex-direction: row
                justify-content: space-between
                padding: 13px
                #like
                   background: color.$gradiant
                .like
                    width: 22px
                    height: 22px
                    display: flex
                    &:hover path
                        fill: color.$gradiant
                .restaurant-desc
                    display: flex
                    flex-direction: column
                    align-content: space-around
                    gap: 5px
footer
    background-color: color.$darkGrey
    @include color.section
    color: #fff
    padding-top: 16px
    h2
        font-family: 'Shrikhand', 'Times New Roman', Times, serif
        padding-top: 16px 
    section
        display: flex
        flex-direction: column
        gap: 7px
        a
            display: flex
            gap: 15px
            align-items: center
            align-content: center
            i
                width: 18px
            p
                font-weight: 500
                font-family: 'Roboto', sans-serif