* {
  margin: 0;
}

body {
  transform: translateY(100vh);
  opacity: 0;
  background-color: #FFF;
  animation: slide-in 0.3s ease both;
}

nav {
  color: #353535;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #FFFFFF;
}
nav header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 63px;
}
@media screen and (min-width: 1000px) {
  nav header {
    height: 96px;
  }
}
nav header i {
  align-content: center;
  height: 30px;
  width: 30px;
  color: #353535;
  font-size: 18px;
  transform: translateX(20px);
}
nav header .logo {
  height: 36px;
  display: flex;
  margin: auto;
  justify-content: center;
}
nav .cover-restaurant {
  position: relative;
  width: 100vw;
  height: 40vh;
  object-fit: cover;
  margin: 0 0 -40px 0;
}

main {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  position: relative;
}
@media screen and (min-width: 1000px) {
  main {
    width: 90%;
    max-width: 1080px;
    margin: auto;
  }
}
main .conteneur-menu {
  padding: 10px 20px;
}
@media screen and (min-width: 1000px) {
  main .conteneur-menu {
    width: 70%;
    margin: auto;
  }
}
main .conteneur-menu .title {
  display: flex;
  flex-direction: row;
  padding: 20px 0 20px 0;
  align-items: center;
  justify-content: space-between;
}
@media screen and (min-width: 1000px) {
  main .conteneur-menu .title {
    justify-content: center;
  }
}
main .conteneur-menu .title h1 {
  font-family: "Shrikhand", "Times New Roman", Times, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
  color: #101010;
}
@media screen and (min-width: 1000px) {
  main .conteneur-menu .title h1 {
    padding-right: 10px;
  }
}
main .conteneur-menu .title .coeur {
  width: 24px;
  height: 24px;
  display: flex;
}
main .conteneur-menu .title .coeur path {
  fill: white;
  stroke: black;
  stroke-width: 1px;
  transition: fill 0.2s ease;
}
main .conteneur-menu .title .coeur:hover path {
  fill: url(#likeGradientHover);
  stroke-width: 0;
}
main .class-menu h2 {
  font-family: "roboto", sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 5px;
  padding: 20px 0 0 0;
}
main .class-menu .souligne {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin-bottom: 10px;
}
main .class-menu .plat {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  align-items: flex-end;
  margin: 10px 0;
}
main .class-menu .plat .space-between {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
}
main .class-menu .plat .space-between:hover {
  min-width: 85%;
}
main .class-menu .plat .space-between:hover + .like {
  width: 65px;
}
main .class-menu .plat .space-between .desc {
  display: flex;
  flex-direction: column;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
main .class-menu .plat .space-between .desc h3 {
  margin: 0;
  padding: 10px 0 3px 10px;
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
main .class-menu .plat .space-between .desc p {
  margin: 0;
  padding: 3px 0 10px 10px;
  font-family: "roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
}
main .class-menu .plat .space-between .prix h3 {
  margin: 0;
  padding: 0 10px 10px 3px;
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 15px;
  white-space: nowrap;
}
main .class-menu .plat .like {
  display: flex;
  position: relative;
  align-items: center;
  color: #fff;
  background-color: #99E2D0;
  width: 0;
  justify-content: center;
  align-self: stretch;
  overflow: hidden;
  transition: width 0.4s ease-in-out;
}

.div-commande {
  display: flex;
  padding: 0 0 40px 0;
  transform: translateY(20px);
}
.div-commande .button-gradiant {
  color: #FFFFFF;
  background: linear-gradient(180deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 90%);
  font-size: 16px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #9747FF;
  align-content: center;
  width: 218px;
  margin: auto;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.div-commande .button-gradiant:hover {
  color: #FFFFFF;
  background: linear-gradient(180deg, rgb(255, 134.4, 221.7) 0%, rgb(157.8, 102.9, 223.5) 90%);
  font-size: 16px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid rgb(179.8260869565, 122, 255);
  align-content: center;
  width: 218px;
  margin: auto;
  cursor: pointer;
  box-shadow: 0px 4px 15px 0 rgba(0, 0, 0, 0.35);
}

footer {
  background-color: #353535;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  color: #fff;
  padding-top: 16px;
}
@media screen and (min-width: 1000px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 40px;
    padding-bottom: 30px;
  }
}
footer h2 {
  font-family: "Shrikhand", "Times New Roman", Times, serif;
  padding-top: 16px;
}
@media screen and (min-width: 1000px) {
  footer h2 {
    padding-top: 0;
    padding-left: 20px;
  }
}
footer div {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media screen and (min-width: 1000px) {
  footer div {
    flex-direction: row;
    gap: 40px;
  }
}
footer div .groupe-lien {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media screen and (min-width: 1000px) {
  footer div .groupe-lien {
    flex-direction: row;
  }
}
footer div .groupe-lien a {
  display: flex;
  align-items: center;
  align-content: center;
  text-decoration: none;
  color: #FFFFFF;
  gap: 5px;
}
@media screen and (min-width: 1000px) {
  footer div .groupe-lien a {
    gap: 0;
  }
}
footer div .groupe-lien a i {
  width: 18px;
  padding-right: 3px;
}
@media screen and (min-width: 1000px) {
  footer div .groupe-lien a i {
    padding-left: 10px;
  }
}
footer div .groupe-lien a p {
  font-weight: 500;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}
@media screen and (min-width: 1000px) {
  footer div .groupe-lien a p {
    padding-left: 5px;
  }
}

#entrees {
  opacity: 0;
  animation: groupe-menu 0.3s ease-out both;
  animation-delay: 0.5s;
}

#plats {
  opacity: 0;
  animation: groupe-menu 0.3s ease-out both;
  animation-delay: 1s;
}

#desserts {
  opacity: 0;
  animation: groupe-menu 0.3s ease-out both;
  animation-delay: 1.5s;
}

@keyframes groupe-menu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-out {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  30% {
    transform: translateY(10vh);
    opacity: 0.5;
  }
  70% {
    transform: translateY(50vh);
    opacity: 0.2;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}
@keyframes slide-in {
  0% {
    transform: translateY(80vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0vh);
    opacity: 1;
  }
}
@keyframes like-anim {
  0% {
    width: 0;
    max-width: 65px;
  }
  100% {
    width: 15%;
    max-width: 65px;
  }
}
@keyframes like-retour {
  0% {
    width: 15%;
    max-width: 65px;
  }
  100% {
    width: 0%;
  }
}
.slide {
  animation: slide-out 0.3s linear both;
}

.slide-in {
  animation: slide-up 0.3s linear both;
}

.liked {
  animation: like-anim 0.2s linear both;
}

.like-retour {
  animation: like-retour 0.2s linear both;
}

/*# sourceMappingURL=restaurant.css.map */
